{% include base_path %}

<div class="archive__item" style="margin-bottom: 1.5em;">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% assign post = include.post | default: post %}
    
    <!-- Title -->
    {% if post.id %}
      {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
    {% else %}
      {% assign title = post.title %}
    {% endif %}
    
    <strong>{{ title }}</strong>
    
    <!-- Authors (with markdown support for bold) -->
    {% if post.authors %}
      <br />
      {{ post.authors | markdownify }}
    {% endif %}
    
    <!-- Venue -->
    {% if post.venue %}
      <br />
      <em>{{ post.venue }}</em>
    {% endif %}
    
    <!-- Paper Link -->
    {% if post.paperurl %}
      <br />
      <a href="{{ post.paperurl }}" target="_blank">[Paper]</a>
    {% endif %}
    
  </article>
</div>
